* {
    font-family: tahoma !important;
}

#menu, #menuTopo {
    margin-bottom: 10px;
    width: 1000px !important; 
    font-size: 16px;
}

#noticiasTable{
    max-width: 1000px !important; 
}

#noticiasTable > td , #noticiasTable > tr {
    width: 250px !important;
}

.editar, .excluir, .denunciar, .comentar, .desbloquear, .retirarDaLista {
    font-family: tahoma !important;
    font-size: 11px !important;
    font-weight: normal;
}

.noborder {
    border: none !important;
}

.listaDeComentarios {
    margin-top: 20px;
    width: 900px !important;
    border: none !important;
    background-color: #000000;
}

.comentarioConteudo {
    display: inline-block;
    width: 700px !important;
    min-height: 200px;
}

.formComentario {
    margin-top: 20px;
    width: 900px !important;
}

.listaDeComentarios {
    margin-top: 20px;
    width: 900px !important;
    border: none !important;
    background-color: #000000;
}

#noticiasVisualizar {
    width: 900px !important;
    max-width: 900px !important;
}

.formulario {
    width: 1000px !important;
}

.formCad tr, .formCad td {
  border: none !important;
}

p {
    white-space: normal;
}

.tamanho {
    width: 530px !important;
}

.noticiaTitulo {
    font-size: 30px;
    font-weight: bold;
    width: 100px !important;
}

.noticiasTodas-titulo {
    display: inline-block;
    width: 700px !important;
    min-height: 30px;
}
